[Desktop Entry]
Name=Configure transactionattach plugin
Name[ru]=Конфигурация плагина вложений для транзакции
Comment=Permits the configuration of the transaction attach plugin
Commnet[ru]=Настройка вложений для транзакций
Icon=x-office-calendar
Type=Service
ServiceTypes=KCModule
Exec=kcmshell4 kmm_transactionattach
Categories=Qt;KDE;kmymoney;
Keywords=transactionattach;kmymoney;
X-KDE-Library=kcm_kmm_transactionattach
X-KDE-ParentApp=KMyMoney Transaction Attach
X-KDE-ParentComponents=KMyMoney Transaction Attach
