<!DOCTYPE kpartgui>
<kpartgui name="kmymoneyplugin-transactionattach" version="1">
  <MenuBar>
    <Menu name="transaction">
        <Action name="transaction_attachment" />
    </Menu>
  </MenuBar>
  <Menu name="transaction_context_menu" >
    <Action name="transaction_attachment" />
  </Menu>
</kpartgui>
