<!DOCTYPE kpartgui>
<kpartgui name="kmymoneyplugin-transactionattach" version="1">
  <MenuBar>
    <Menu name="transaction">
        <Action name="attach_file" />
    </Menu>
  </MenuBar>
</kpartgui>
